* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: darkslategray;
}
.calculator {
  background: #fff;
  width: 100%;
  min-height: 80vh;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  padding: 20px;
  gap: 8px;
  border-radius: 10px;
}
.calculator .output {
  background: rgb(222, 110, 25);
  color: #fff;
  grid-column: 1/5;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  font-size: 36px;
  word-break: break-all;
  word-wrap: break-word;
}

.calculator button {
  font-size: 20px;
  border: none;
  background: none;
  box-shadow: 0px 0px 8px #999999;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.calculator button:hover {
  background: #d4d4d4;
}
.colom-two {
  grid-column: span 2;
}

.calculator button:last-child {
  background-color: rgb(222, 110, 25);
  color: #fff;
}
